<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Речник на българския език 2.0{% endblock %}</title>
		{% block stylesheets %}{% endblock %}
		<link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
	</head>
	<body>
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
