<div class="container">
	<div class="well">
		<span class="fa fa-info-circle"></span>
		Това е подобрен вариант на <a href="http://ibl.bas.bg/rbe/">официалната версия на Речника на българския език</a>.
		<span class="	pull-right">
			<a href="http://git.chitanka.info/sites/rbe" title="Софтуер"><span class="fa fa-code"></span></a>
			<a href="http://git.chitanka.info/sites/rbe-data" title="Данни"><span class="fa fa-database"></span></a>
		</span>
	</div>
</div>
